

<div class="footer">
<div class="icons"><i class="fa fa-instagram" aria-hidden="true"></i></div>
<div class="icons"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
<div class="icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></div>
<p>
    5,vijayrajnagar,Bhavnagar.
</p>
</div>




</body>
</html>