<%-include('../../shared/includes/head',{pagetitle:'all products'}) %>
<link rel="stylesheet" href="/styles/products.css">

</head>
    <!--this '-' takes some code and does not escapes it we want to take a raw html code and parse it-->
    <!--this will title in header ejs-->
    <!-- <link rel="stylesheet" href="styles/form.css">
    <link rel="stylesheet" href="styles/auth.css">
    </head> -->
    <!--this two css links are given here to fetch that amount of css code only-->
    <!--head that was opened in header.ejs-->
   

    <body>
        <%- include('../../shared/includes/header')%>
        <div class="intro">
        <div class="div1" >
            <!-- <img src="../products/logo.jpeg" alt=""> -->
            <!-- <p id="para">Hello and welcome to she bakes.</p> -->
            <!-- <img src="/Users/parthvibalar/Downloads/c.jpeg" alt="" height="100%" width="100%"> -->
            <p class="para">Hello and welcome to </p>
            <p class="para1">Shebakes</p>

        </div>
        <div class="div2">
            Shebakes aims to provide fresh and hygenic baked
            goodies for your special occassions and sugar rush.
        </div>
        </div>
            <main>
                <h1>
                    All Products
                </h1>
                <ul id="products-grid">
                    <% for (const product of products) { %>
                        <li>

                            <%- include('../../shared/includes/product-item', {product: product}) %>

                        </li>
                        <% } %>
                </ul>
            </main>

            <%-include('../../shared/includes/footer')%>